/*
Image link
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url('https://static.wikia.nocookie.net/hades_gamepedia_en/images/3/34/Greece_lovers%27_lane.jpg/revision/latest?cb=20240414225244');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0,5);
}